.masonry{
    width: 100vw;
}

.item-width{
    padding: .5rem;
}

@media screen and (min-width: 600px){
    .item-width{
        width: 50%;
    }
}

@media screen and (min-width: 960px){
    .item-width{
        width: 33.33%;
    }
}