.card_info{
    background: white;
    height: 25rem;
    line-height: 300%;
    max-width: 50rem;
    margin: 2.2rem 1% 2.2rem 1% ;
    padding: 1.5rem 3rem 1.5rem 3rem;
}

.profile_pic img{
    height: 7rem;
    width: 7rem;
    border-radius: 10rem;
}

h1{
    font-size: 2.5rem;
}

.statsNpic{
    width: 100%;
    line-height: 250%;
}

