.logo img{
    height: 2.5rem;
    margin: .6rem 1rem .6rem;
}

.header{
    background: white;
}

@media screen and (max-width: 602px){
    .width{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}